# Part 1: Exploratory Data Analysis

## Part 1.1: Understand the Raw Dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
DC_credit_risk = 'https://raw.githubusercontent.com/tracysnowf/Deloitte-CapstoneProject/main/data/Clean_Mortgage_Lending_DC.csv'
df_cr = pd.read_csv(DC_credit_risk, sep = ',')

In [3]:
df_cr.head() # column 0 is redundant

,ethnicity,race,gender,action_taken,preapproval_requested,loan_type,loan_purpose,interest_only_payment,balloon_payment,debt_to_income_ratio,age,income,loan_to_value_ratio
0,Not Hispanic or Latino,White,Female,1,No Preapproval Requested,Converntional,Home Purchase,No Interest-only Payments,No Balloon Payment,30%-<36%,Older,Rich,< Conventional Bar
1,Not Hispanic or Latino,White,Male,1,No Preapproval Requested,VA-guaranteed,Refinancing,No Interest-only Payments,No Balloon Payment,36%-<50%,Older,Middle Class,< Conventional Bar
2,Not Hispanic or Latino,Asian,Female,1,No Preapproval Requested,Converntional,Refinancing,No Interest-only Payments,No Balloon Payment,36%-<50%,Middle-Aged,Middle Class,> Conventional Bar and < FHA Bar
3,Not Hispanic or Latino,White,Female,1,No Preapproval Requested,Converntional,Refinancing,No Interest-only Payments,No Balloon Payment,20%-<30%,Older,Poor and Near Poor,< Conventional Bar
4,Not Hispanic or Latino,Black or African American,Female,1,No Preapproval Requested,Converntional,Home Purchase,No Interest-only Payments,No Balloon Payment,36%-<50%,Older,Upper-Middle Class,< Conventional Bar

In [4]:
# check data info
df_cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89155 entries, 0 to 89154
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ethnicity              89155 non-null  object
 1   race                   89155 non-null  object
 2   gender                 89155 non-null  object
 3   action_taken           89155 non-null  int64
 4   preapproval_requested  89155 non-null  object
 5   loan_type              89155 non-null  object
 6   loan_purpose           89155 non-null  object
 7   interest_only_payment  89155 non-null  object
 8   balloon_payment        89155 non-null  object
 9   debt_to_income_ratio   89155 non-null  object
 10  age                    89155 non-null  object
 11  income                 89155 non-null  object
 12  loan_to_value_ratio    89155 non-null  object
dtypes: int64(1), object(12)
memory usage: 8.8+ MB

In [5]:
# check the unique values for each column
df_cr.nunique()

ethnicity                2
race                     4
gender                   2
action_taken             2
preapproval_requested    2
loan_type                3
loan_purpose             4
interest_only_payment    2
balloon_payment          2
debt_to_income_ratio     6
age                      3
income                   5
loan_to_value_ratio      4
dtype: int64

##### action_taken - Y variable
1 -- Loan originated (the qualification and verification process that begins a new loan.) <br>
2 -- Application approved but not accepted (If the loan was approved before closing but the applicant either failed to respond or the loan was not otherwise closed, then the action taken would be reported as approved but not accepted.) <br>
3 -- Application denied by financial institution <br>

Comments: <br>
category 1 (a typo) might actually be 2(Approved) in the codebook, and 3 stays the same(Disapproved)

In [7]:
pd.unique(df_cr['action_taken'])

array([1, 0], dtype=int64)

In [8]:
# new codebook: 1 - Approved; 0 - Disapproved
# so change all the vlaues of 3 to 0
df_cr['action_taken'].mask((df_cr['action_taken'] == 3), 0, inplace=True)

In [9]:
# check the distribution of target variable action_taken
df_cr.loc[:,'action_taken'].value_counts()

1    68079
0    21076
Name: action_taken, dtype: int64

## Part 1.2: Understand the Features

In [10]:
# understand overall features
df_cr.describe()
# Action Taken:
# 1 -- Loan originated
# 2 -- Application approved but not accepted
# 3 -- Application denied by financial institution

# Preapproval:
# 1 -- Preapproval was requested
# 2 -- Preapproval was not requested

# Loan Type: **75% IQR = 1
# 1 -- Conventional (any loan other than FHA, VA, FSA, or RHS loans)
# 2 -- FHA-insured (Federal Housing Administration)
# 3 -- VA-guaranteed (Veterans Administration)
# 4 -- FSA/RHS (Farm Service Agency or Rural Housing Service)

# Loan Purpose: **error data,
# 1 -- Home purchase
# 2 -- Home improvement
# 3 -- Refinancing

# Loan Amount: in thousands of dollars

# interest_only_payment **not in the codebook, 1111？

# balloon_payment **not in the codebook, 1111？

# income: Gross Annual Income: in thousands of dollars **negative/ error data

       action_taken
count  89155.000000
mean       0.763603
std        0.424871
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000

### Numerical Features Data Cleaning

In [11]:
# understand numerical features
# loan_amount look normal, need to clean column loan_to_value_ratio, income
df_cr[["loan_amount", "loan_to_value_ratio", "income"]].describe()

KeyError: "['loan_amount'] not in index"

##### loan_to_value_ratio 
Description: The ratio of the total amount of debt secured by the property to the value of the property relied on in making the credit decisiontio. The ratio value should range from 0 - 1.

In [ ]:
pd.unique(df_cr['loan_to_value_ratio'])

In [ ]:
df_cr['loan_to_value_ratio'].map(type).value_counts()

In [ ]:
# 607 null values
len(df_cr[pd.to_numeric(df_cr['loan_to_value_ratio'].isnull(),errors='coerce')])

In [ ]:
# 159 Exempt values
len(df_cr[(df_cr['loan_to_value_ratio'] == "Exempt")])

In [ ]:
# drop 607 null values and 159 Exempt values
df_cr = df_cr[pd.to_numeric(df_cr['loan_to_value_ratio'].notnull(),errors='coerce')]
df_cr = df_cr[(df_cr['loan_to_value_ratio'] != "Exempt")]
# reset index
df_cr = df_cr.reset_index(drop = True)
# cast string types of values to numeric type
df_cr['loan_to_value_ratio'] = pd.to_numeric(df_cr['loan_to_value_ratio'], errors='coerce')

In [ ]:
len(df_cr[(df_cr['loan_to_value_ratio'] > 1)])

In [ ]:
# check the result
df_cr['loan_to_value_ratio'].map(type).value_counts()

In [ ]:
plt.rcParams['figure.dpi'] = 100

##### log_loan_to_value_ratio (NEW column for log reg)
Description: The log of the ratio of the total amount of debt secured by the property to the value of the property relied on in making the credit decisiontio.

In [ ]:
# boxplot shows loan_to_value_ratio (without outliers) is a little left-skewed, so perform the log transformation
sns.set_theme(style="whitegrid")
ax = sns.boxplot(x=df_cr["loan_to_value_ratio"], data = df_cr, showfliers = False)

In [ ]:
df_cr['log_loan_to_value_ratio'] = np.log2(df_cr['loan_to_value_ratio'])

##### income (in thousands of dollars)

In [ ]:
# 252 null values
len(df_cr[pd.to_numeric(df_cr['income'].isnull(),errors='coerce')])

In [ ]:
# 10 negative/ error values, will keep them in the data
len(df_cr[(df_cr['income'] < 0)])

In [ ]:
# drop 252 null values
df_cr = df_cr[pd.to_numeric(df_cr['income'].notnull(),errors='coerce')]
# reset index
df_cr = df_cr.reset_index(drop = True)

In [ ]:
# check the result
df_cr['loan_to_value_ratio'].map(type).value_counts()

#### Cleaned Numeric Features Summary

In [ ]:
# understand numeric features
df_cr[["loan_amount", "loan_to_value_ratio", "income"]].describe()

#### Correlation of Numeric Features

In [ ]:
# correlation heat map of numerical features
sns.set()

numCol = []
for col in df_cr:
  if df_cr[col].dtype == np.float64:
    numCol.append(col)
corr = df_cr[numCol].corr()

In [ ]:
ax = sns.heatmap(
    corr, 
    vmin=-1, vmax=1, center=0,
    cmap=sns.diverging_palette(20, 220, n=200),
    square=True
)
ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation=45,
    horizontalalignment='right')

In [ ]:
# check the actual values of correlations
corr_score = df_cr[numCol].corr()
corr_score
# heatmap conclusion: all good, no column needs to be dropped.
# ***but keep in mind that loan_amount and loan_to_value_ratio are not dependent - might need to drop one of them when using linear/ logistic regression

### Cleaned Numerical Features -> Categorical Features

##### derived_income (NEW column for income)
INCOME GROUP - INCOME  <br>
Poor or near-poor - \\$32,048 or less <br>
Lower-middle class - \\$32,048 - \\$53,413 <br>
Middle class - \\$53,413 - \\$106,827 <br>
Upper-middle class - \\$106,827 - \\$373,894 <br>
Rich - \\$373,894 and up <br>
(resource: https://money.usnews.com/money/personal-finance/family-finance/articles/where-do-i-fall-in-the-american-economic-class-system)

In [ ]:
# bin income into the 5 categories above
# create a list of our conditions
income_conditions = [
    (df_cr['income']*1000 <= 32048),
    (df_cr['income']*1000 > 32048) & (df_cr['income']*1000 <= 53413),
    (df_cr['income']*1000 > 53413) & (df_cr['income']*1000 <= 106827),
    (df_cr['income']*1000 > 106827) & (df_cr['income']*1000 <= 373894),
    (df_cr['income']*1000 > 373894)
    ]

# create a list of the values we want to assign for each condition
# ***income_values = ['Poor and Near Poor', 'Lower-Middle Class', 'Middle Class', 'Upper-Middle Class', 'Rich']
income_values = [1, 2, 3, 4, 5]

# create a new column and use np.select to assign values to it using our lists as arguments
df_cr['derived_income'] = np.select(income_conditions, income_values)

In [ ]:
# explore derived_income category
df_cr["derived_income"].value_counts().plot(kind='barh')

##### derived_loan_to_value_ratio (NEW column for loan_to_value_ratio)
Conventional bar - 80% or less <br>
FHA bar -	96.5% or less <br>
VA bar - 100% or less <br>
Not eligible - > 100%
(resource: https://www.forbes.com/advisor/mortgages/loan-to-value-ratio/)

In [ ]:
# bin loan_to_value_ratio into the 4 categories above
# create a list of our conditions
loan_to_value_ratio_conditions = [
    (df_cr['loan_to_value_ratio'] <= 80),
    (df_cr['loan_to_value_ratio'] > 80) & (df_cr['loan_to_value_ratio'] <= 96.5),
    (df_cr['loan_to_value_ratio'] > 96.5) & (df_cr['loan_to_value_ratio'] <= 100),
    (df_cr['loan_to_value_ratio'] > 100)
    ]

# create a list of the values we want to assign for each condition
# *** loan_to_value_ratio_values = ['< Conventional Bar', '> Conventional Bar and < FHA Bar', '> FHA Bar and < VA Bar', 'Not Eligible']
loan_to_value_ratio_values = [2, 3, 4, 1]
# create a new column and use np.select to assign values to it using our lists as arguments
df_cr['derived_loan_to_value_ratio'] = np.select(loan_to_value_ratio_conditions, loan_to_value_ratio_values)

In [ ]:
# explore derived_loan_to_value_ratio category
df_cr["derived_loan_to_value_ratio"].value_counts().plot(kind='barh')

### Categorical Features Data Cleaning

##### interest_only_payment
Description: Whether the contractual terms include, or would have included, interest-only payments
Values: <br>
1 - Interest-only payments <br>
2 - No interest-only payments <br>
1111 - Exempt <br>

NEW: <br>
1 -> Interest-only Payments <br>
2 -> No Interest-only Payments

In [ ]:
# replace "Exempt" with NAs
df_cr['interest_only_payment'].mask((df_cr['interest_only_payment'] == 'Exempt'), None, inplace=True)

In [ ]:
# drop null values
df_cr = df_cr[pd.to_numeric(df_cr['interest_only_payment'].notnull(),errors='coerce')]

In [ ]:
# reset index
df_cr = df_cr.reset_index(drop = True)

In [ ]:
# *** # rename
# df_cr['interest_only_payment'].mask((df_cr['interest_only_payment'] == 1), 'Interest-only Payments', inplace=True)
# df_cr['interest_only_payment'].mask((df_cr['interest_only_payment'] == 2), 'No Interest-only Payments', inplace=True)

# rename
df_cr['interest_only_payment'].mask((df_cr['interest_only_payment'] == 1), 1, inplace=True)
df_cr['interest_only_payment'].mask((df_cr['interest_only_payment'] == 2), 0, inplace=True)

In [ ]:
# explore interest_only_payment category
df_cr["interest_only_payment"].value_counts().plot(kind='barh')

##### balloon_payment
Description: Whether the contractual terms include, or would have included, a balloon payment
Values: <br>
1 - Balloon payment <br>
2 - No balloon payment <br>
1111 - Exempt <br>

NEW: <br>
1 -> Balloon Payment <br>
2 -> No Balloon Payment

In [ ]:
# replace "Exempt" with NAs
df_cr['balloon_payment'].mask((df_cr['balloon_payment'] == 'Exempt'), None, inplace=True)

In [ ]:
# drop null values
df_cr = df_cr[pd.to_numeric(df_cr['balloon_payment'].notnull(),errors='coerce')]

In [ ]:
# reset index
df_cr = df_cr.reset_index(drop = True)

In [ ]:
# ***# rename
# df_cr['balloon_payment'].mask((df_cr['balloon_payment'] == 1), 'Balloon Payment', inplace=True)
# df_cr['balloon_payment'].mask((df_cr['balloon_payment'] == 2), 'No Balloon Payment', inplace=True)

# rename
df_cr['balloon_payment'].mask((df_cr['balloon_payment'] == 1), 1, inplace=True)
df_cr['balloon_payment'].mask((df_cr['balloon_payment'] == 2), 0, inplace=True)

In [ ]:
# explore balloon_payment category
df_cr["balloon_payment"].value_counts().plot(kind='barh')

##### preapproval_requested (old: preapproval)
1 -- Preapproval was requested <br>
2 -- Preapproval was not requested <br>

NEW: <br>
Preapprove Requested - Preapproval was requested <br>
No Preapprove Requested - Preapproval was not requested <br>

rename column: preapproval -> preapproval_requested

In [ ]:
# *** rename
# df_cr['preapproval'].mask((df_cr['preapproval'] == 1), "Preapproval Requested", inplace=True)
# df_cr['preapproval'].mask((df_cr['preapproval'] == 2), "No Preapproval Requested", inplace=True)

# rename
df_cr['preapproval'].mask((df_cr['preapproval'] == 1), 1, inplace=True)
df_cr['preapproval'].mask((df_cr['preapproval'] == 2), 0, inplace=True)

In [ ]:
# change column name 'preapproval' -> 'preapproval_requested'
df_cr.rename(columns={'preapproval': 'preapproval_requested'}, inplace=True)

In [ ]:
# explore loan_type category
df_cr["preapproval_requested"].value_counts().plot(kind='barh')

##### loan_type
1 -- Conventional (any loan other than FHA, VA, FSA, or RHS loans) <br>
2 -- FHA-insured (Federal Housing Administration) <br>
3 -- VA-guaranteed (Veterans Administration) <br>
4 -- FSA/RHS (Farm Service Agency or Rural Housing Service) <br>

Comments: <br>
75% IQR = 1 <br>
About 90% of the whole loan type is type 1 - Conventional among the 4 types. <br>
Is this data representative to the whole population? <br>
possible research directions: if people with a Conventional loan type have an obviously higher/lower chance to get approved for the loan compared to people with a NON Conventional loan type?

In [ ]:
# changed 1, 2, 3, 4 to their corresponding categorical names
# df_cr['loan_type'].mask((df_cr['loan_type'] == 1), 'Converntional', inplace=True)
# df_cr['loan_type'].mask((df_cr['loan_type'] == 2), 'FHA-insured', inplace=True)
# df_cr['loan_type'].mask((df_cr['loan_type'] == 3), 'VA-guaranteed', inplace=True)
# df_cr['loan_type'].mask((df_cr['loan_type'] == 4), 'FSA/RHS', inplace=True)

In [ ]:
# len(df_cr[df_cr['loan_type'] == 'Converntional']) / len(df_cr['loan_type'])

In [ ]:
# *** number of 'FSA/RHS' is only 2, not representative, so drop this category
# len(df_cr[df_cr['loan_type'] == 'FSA/RHS'])

# number of 'FSA/RHS' is only 2, not representative, so drop this category
len(df_cr[df_cr['loan_type'] == 4])

In [ ]:
# *** drop 'FSA/RHS' column
# df_cr.drop(df_cr[df_cr['loan_type'] == 'FSA/RHS'].index, inplace = True)

# drop 'FSA/RHS' column
df_cr.drop(df_cr[df_cr['loan_type'] == 2].index, inplace = True)

In [ ]:
# reset index
df_cr = df_cr.reset_index(drop = True)

In [ ]:
# 3, 4 -> 2,3 
df_cr['loan_type'].mask((df_cr['loan_type'] == 3), 2, inplace=True)
df_cr['loan_type'].mask((df_cr['loan_type'] == 4), 3, inplace=True)

# explore loan_type category
df_cr["loan_type"].value_counts().plot(kind='barh')

##### loan_purpose 
Description: The purpose of covered loan or application
Values: <br>
1 - Home purchase <br>
2 - Home improvement <br>
31 - Refinancing <br>
32 - Cash-out refinancing <br>
4 - Other purpose <br>
5 - Not applicable 

CHANGE - 31, 32 -> 3 - Refinancing; dropped 19 values of "not applicable"

In [ ]:
df_cr["loan_purpose"].replace([31, 32], 3, regex=False, inplace=True)

In [ ]:
# 19 values of "not applicable" 
len(df_cr[df_cr['loan_purpose'] == 5])

In [ ]:
# 5 -> NAs
df_cr['loan_purpose'].mask((df_cr['loan_purpose'] == 5), None, inplace=True)

In [ ]:
# drop 19 values
df_cr = df_cr[pd.to_numeric(df_cr['loan_purpose'].notnull(),errors='coerce')]

In [ ]:
# changed 1, 2, 3, 4, 5 to their corresponding categorical names
# df_cr['loan_purpose'].mask((df_cr['loan_purpose'] == 1), 'Home Purchase', inplace=True)
# df_cr['loan_purpose'].mask((df_cr['loan_purpose'] == 2), 'Home Improvement', inplace=True)
# df_cr['loan_purpose'].mask((df_cr['loan_purpose'] == 3), 'Refinancing', inplace=True)
# df_cr['loan_purpose'].mask((df_cr['loan_purpose'] == 4), 'Other Purpose', inplace=True)

In [ ]:
# reset index
df_cr = df_cr.reset_index(drop = True)

In [ ]:
# explore loan_purpose category
df_cr["loan_purpose"].value_counts().plot(kind='barh')

##### is_not_hispanic (old: derived_ethnicity)

In [ ]:
pd.unique(df_cr['derived_ethnicity'])

In [ ]:
# Convert 'Joint', 'Ethnicity Not Available', 'Free Form Text Only' to NAs
df_cr['derived_ethnicity'].mask((df_cr['derived_ethnicity'] == 'Joint') |
                                (df_cr['derived_ethnicity'] == 'Ethnicity Not Available') |
                                (df_cr['derived_ethnicity'] == 'Free Form Text Only'), None, inplace=True)

In [ ]:
df_cr['derived_ethnicity'].map(type).value_counts()

In [ ]:
# drop 1878 null values
df_cr = df_cr[pd.to_numeric(df_cr['derived_ethnicity'].notnull(),errors='coerce')]

In [ ]:
df_cr['derived_ethnicity'].map(type).value_counts()

In [ ]:
# change column name 'derived_ethnicity' -> 'is_not_hispanic'
df_cr.rename(columns={'derived_ethnicity': 'is_not_hispanic'}, inplace=True)

In [ ]:
df_cr['is_not_hispanic'].mask((df_cr['is_not_hispanic'] == "Hispanic or Latino"), 1, inplace=True)
df_cr['is_not_hispanic'].mask((df_cr['is_not_hispanic'] == "Not Hispanic or Latino"), 0, inplace=True)

In [ ]:
# reset index
df_cr = df_cr.reset_index(drop = True)

In [ ]:
# explore is_not_hispanic category
df_cr["is_not_hispanic"].value_counts().plot(kind='barh')

##### derived_race

In [ ]:
pd.unique(df_cr['derived_race'])

In [ ]:
# Convert '2 or more minority races', 'Race Not Available','American Indian or Alaska Native', 
# 'Joint', 'Native Hawaiian or Other Pacific Islander' to 'Minority Race/(s/)'
df_cr['derived_race'].mask((df_cr['derived_race'] == '2 or more minority races') |
                            (df_cr['derived_race'] == 'American Indian or Alaska Native') |
                            (df_cr['derived_race'] == 'Joint') |
                            (df_cr['derived_race'] == 'Native Hawaiian or Other Pacific Islander'), "Minority Races", inplace=True)

In [ ]:
df_cr['derived_race'].mask((df_cr['derived_race'] == 'Free Form Text Only') |
                           (df_cr['derived_race'] == 'Race Not Available'), None, inplace=True)

In [ ]:
df_cr['derived_race'].map(type).value_counts()

In [ ]:
pd.unique(df_cr['derived_race'])

In [ ]:
# drop 526 null values
df_cr = df_cr[pd.to_numeric(df_cr['derived_race'].notnull(),errors='coerce')]

In [ ]:
pd.unique(df_cr['derived_race'])

In [ ]:
df_cr['derived_race'].mask((df_cr['derived_race'] == "White"), 1, inplace=True)
df_cr['derived_race'].mask((df_cr['derived_race'] == "Asian"), 2, inplace=True)
df_cr['derived_race'].mask((df_cr['derived_race'] == "Black or African American"), 3, inplace=True)
df_cr['derived_race'].mask((df_cr['derived_race'] == "Minority Races"), 4, inplace=True)

In [ ]:
# reset index
df_cr = df_cr.reset_index(drop = True)

In [ ]:
# explore derived_race category
df_cr["derived_race"].value_counts().plot(kind='barh')

##### is_male (old: derived_sex)

In [ ]:
pd.unique(df_cr['derived_sex']) # OK

In [ ]:
# change column name 'derived_sex' -> 'is_male'
df_cr.rename(columns={'derived_sex': 'is_male'}, inplace=True)

In [ ]:
df_cr['is_male'].mask((df_cr['is_male'] == "Male"), 1, inplace=True)
df_cr['is_male'].mask((df_cr['is_male'] == "Female"), 0, inplace=True)

In [ ]:
# explore is_male category
df_cr["is_male"].value_counts().plot(kind='barh')

##### debt_to_income_ratio 
Description: The ratio, as a percentage, of the applicant’s or borrower’s total monthly debt to the total monthly income relied on in making the credit decision

In [ ]:
pd.unique(df_cr['debt_to_income_ratio']) # should create a new column: 36% - 49%, Exempt = NaN?

In [ ]:
df_cr["debt_to_income_ratio"].replace(['48', '44', '38', '42', '40', '36', '49', '47', '43', '41', '39', '46', '37', '45'], '36%-<50%', regex=False, inplace=True)

In [ ]:
# replace "Exempt" with NAs
df_cr['debt_to_income_ratio'].mask((df_cr['debt_to_income_ratio'] == 'Exempt'), None, inplace=True)

In [ ]:
# drop null values
df_cr = df_cr[pd.to_numeric(df_cr['debt_to_income_ratio'].notnull(),errors='coerce')]

In [ ]:
pd.unique(df_cr['debt_to_income_ratio'])

In [ ]:
df_cr['debt_to_income_ratio'].mask((df_cr['debt_to_income_ratio'] == "<20%"), 1, inplace=True)
df_cr['debt_to_income_ratio'].mask((df_cr['debt_to_income_ratio'] == "20%-<30%"), 2, inplace=True)
df_cr['debt_to_income_ratio'].mask((df_cr['debt_to_income_ratio'] == "30%-<36%"), 3, inplace=True)
df_cr['debt_to_income_ratio'].mask((df_cr['debt_to_income_ratio'] == "36%-<50%"), 4, inplace=True)
df_cr['debt_to_income_ratio'].mask((df_cr['debt_to_income_ratio'] == "50%-60%"), 5, inplace=True)
df_cr['debt_to_income_ratio'].mask((df_cr['debt_to_income_ratio'] == ">60%"), 6, inplace=True)

In [ ]:
# reset index
df_cr = df_cr.reset_index(drop = True)

In [ ]:
# explore debt_to_income_ratio category
df_cr["debt_to_income_ratio"].value_counts().plot(kind='barh')

##### mid_debt_to_income_ratio  (NEW column for log reg)
Description: Mid values (it's neither median nor average because of lack of info) of the categorical variable debt_to_income_ratio

In [ ]:
r_conditions = [
    df_cr['debt_to_income_ratio'] == '<20%',
    df_cr['debt_to_income_ratio'] == '20%-<30%',
    df_cr['debt_to_income_ratio'] == '30%-<36%',
    df_cr['debt_to_income_ratio'] == '36%-<50%',
    df_cr['debt_to_income_ratio'] == '50%-60%',
    df_cr['debt_to_income_ratio'] == '>60%'
]

r_choices = [0.15, 0.25, 0.33, 0.38, 0.55, 0.65]

df_cr['mid_debt_to_income_ratio'] = np.select(r_conditions, r_choices, default=0)

In [ ]:
# # explore mid_debt_to_income_ratio category
# df_cr["mid_debt_to_income_ratio"].value_counts().plot(kind='barh')

##### debt  (NEW column for log reg)
Description: debt = mid_debt_to_income_ratio * income

In [ ]:
df_cr['debt'] = np.multiply(df_cr['mid_debt_to_income_ratio'], df_cr['income'])

##### applicant_age
Young Adult - 18 - 34 <br>
Middle-Aged Adult - 35-54 <br>
Older Adult - > 55 <br>
(resource: https://academic.oup.com/gerontologist/article/42/1/92/641498)

In [ ]:
pd.unique(df_cr['applicant_age']) # 8888
# df_cr[(df_cr['applicant_age'] == '8888')] # print 4 rows with age = 8888

In [ ]:
# drop rows with 8888
df_cr.drop(df_cr.index[df_cr['applicant_age'] == '8888'], inplace=True)

In [ ]:
pd.unique(df_cr['applicant_age'])

In [ ]:
# reset index
df_cr = df_cr.reset_index(drop = True)

In [ ]:
age_conditions = [
    (df_cr['applicant_age'] == '<25') | (df_cr['applicant_age'] == '25-34'),
    (df_cr['applicant_age'] == '35-44') | (df_cr['applicant_age'] == '45-54'),
    (df_cr['applicant_age'] == '55-64') | (df_cr['applicant_age'] == '65-74') | (df_cr['applicant_age'] == '>74')
]

# *** age_choices = ['Young', 'Middle-Aged', 'Older']
age_choices = [1, 2, 3]

df_cr['applicant_age'] = np.select(age_conditions, age_choices, default=0)

In [ ]:
# explore applicant_age category
df_cr["applicant_age"].value_counts().plot(kind='barh')

In [ ]:
# cleaned dataset info
df_cr.info()

In [ ]:
df_cr

#### Understand Numerical Feature Distribution
##### loan_amount, loan_to_value_ratio, income

In [ ]:
_,axs = plt.subplots(1,2, figsize=[12,6])
_.title = "title"
sns.boxplot(x='action_taken', y='loan_amount', data=df_cr, ax=axs[0])
sns.boxplot(x='action_taken', y='loan_to_value_ratio', data=df_cr, ax=axs[1])

In [ ]:
 _,axs = plt.subplots(1,2, figsize=[12,6])
sns.boxplot(x='action_taken', y='income', data=df_cr, ax=axs[0])
sns.boxplot(x='action_taken', y='debt', data=df_cr, ax=axs[1])

#### Understand Categorical Feature Distribution
##### derived_income, derived_loan_to_value_ratio, debt, derived_ethnicity, derived_race, interest_only_payment, balloon_payment, derived_sex, preapproval, loan_type,  loan_purpose

In [ ]:
 _,axss = plt.subplots(1,2, figsize=[12,6])
sns.countplot(x='action_taken', hue='derived_income', data=df_cr, ax=axss[0])
sns.countplot(x='action_taken', hue='derived_loan_to_value_ratio', data=df_cr, ax=axss[1])

In [ ]:
 _,axss = plt.subplots(1,2, figsize=[12,6])
sns.countplot(x='action_taken', hue='is_not_hispanic', data=df_cr, ax=axss[0])
sns.countplot(x='action_taken', hue='derived_race', data=df_cr, ax=axss[1])

In [ ]:
_,axss = plt.subplots(1,2, figsize=[12,6])
sns.countplot(x='action_taken', hue='interest_only_payment', data=df_cr, ax=axss[0])
sns.countplot(x='action_taken', hue='balloon_payment', data=df_cr, ax=axss[1])

In [ ]:
_,axss = plt.subplots(1,2, figsize=[12,6])
sns.countplot(x='action_taken', hue='is_male', data=df_cr, ax=axss[0])
sns.countplot(x='action_taken', hue='preapproval_requested', data=df_cr, ax=axss[1])

In [ ]:
_,axss = plt.subplots(1,2, figsize=[12,6])
sns.countplot(x='action_taken', hue='loan_type', data=df_cr, ax=axss[0])
sns.countplot(x='action_taken', hue='loan_purpose', data=df_cr, ax=axss[1])

In [ ]:
_,axss = plt.subplots(1,2, figsize=[12,6])
sns.countplot(x='action_taken', hue='debt_to_income_ratio', data=df_cr, ax=axss[0])
sns.countplot(x='action_taken', hue='applicant_age', data=df_cr, ax=axss[1])

In [ ]:
df_cr

In [ ]:
df_cr.info()

In [ ]:
df_cr = df_cr.drop(columns=['income','log_loan_to_value_ratio', 'mid_debt_to_income_ratio', 'debt', 'loan_amount'])

In [ ]:
df_cr.rename(columns={'derived_income': 'income'}, inplace=True)
df_cr.rename(columns={'derived_race': 'race'}, inplace=True)
df_cr.rename(columns={'is_not_hispanic': 'ethnicity'}, inplace=True)
df_cr.rename(columns={'is_male': 'gender'}, inplace=True)
df_cr.rename(columns={'applicant_age': 'age'}, inplace=True)

In [ ]:
df_cr.info()

In [ ]:
df_cr.to_csv('data/Fairlearn-DC.csv', index = False)